* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #cccccc;
}

.box {
    width: 720px;
    height: 412px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
}
.box .imgs {
    width: 400%;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 1s;
}
.imgs ul li{
    float: left;
}
.imgs img {
	width: 720px;
	height: 410px;
}

/* 手写三角  可以用字体图标代替 */
/* transparent 完全透明 */
/* 也可  border-color:red transparent transparent transparent */
.box .pre {
    width: 0px;
	height: 0px;
	position: absolute;
	z-index: 99;
	right: -17px;
	top: 185px;
	border: 30px solid rgba(200,200,200,0.4);
	border-right-color:transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.box .pre:hover{
	border: 30px solid rgba(200,200,200,0.9);
	border-right-color:transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	cursor: pointer;
}
.box .next{
	width: 0px;
	height: 0px;
	position: absolute;
	z-index: 99;
	left: -17px;
	top: 185px;
	border: 30px solid rgba(200,200,200,0.4);
	border-left-color:transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.box .next:hover{
	border: 30px solid rgba(200,200,200,0.9);
	border-left-color:transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	cursor: pointer;
}
.box .yuandian{
	width: 400px;
	height: 30px;
	position: absolute;
	top: 330px;
	left: 295px;
	line-height: 30px;
}
.box .yuandian li{
	width: 15px;
	height: 15px;
	background-color:rgba(200,200,200,0.4);
	border: 2px solid #eee;
	border-radius: 50%;
	float: left;
	margin-right: 20px;	
	cursor: pointer;
}
.box .yuandian li:hover{
	background-color:rgba(200,200,200,1);
}
.box .yuandian .ac{
	background-color:rgba(200,200,200,0.8);
}